$dark-blue: #193769;
$dark-blue-text:#1a3b6b;
$blue:#006298;
$medium-blue: #03718D;
$light-blue:#9db6d4;
$light-blue-bg:#f0f4f9;
$orange: #F6921D;
$yellow: #fdb913;
$red: #790000;
$light-red:#C89797;
$green:#155724;
$teal:#0183A4;
$white:#fff;
$gray: #dee2e6;
$darker-gray:#464646;
$light-gray:#F5F5F7;
$dark-red:#8B0000;
$text-muted:#6c757d;

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: local('Work Sans'), url(https://fonts.googleapis.com/css?family=Work+Sans);
}

body {
  padding-top: 94px;
  background-color: $white;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}

header {
  background-color: $medium-blue;
}

.aprexis-admin-act-as {
  text-align: left;
  min-width: 600px;
}

.aprexis-calendar-cell {
  height: 100%;
}

.aprexis-calendar-event {
  background-color: $medium-blue;
  border-left-style: solid;
  border-color: black;
  border-right-style: solid;
  border-width: 1px;
  color: white;
}

.aprexis-calendar-event-stops {
  border-bottom-style: solid;
}

.aprexis-calendar-event-starts {
  border-top-style: solid;
}

.aprexis-link {
  text-decoration: underline;
}

.aprexis-table-header-cell {
  background-color: $medium-blue;
}

.btn-uppercase {
  border:none;
  text-transform: uppercase;
  font-size: .8rem;
}

.header-nav {
  .nav-link { color: white; }
  .dropdown-toggle {
    border: none !important;
    font-size: .8rem !important;
    text-transform: uppercase !important;
    color: white !important;
    background-color: transparent !important;
    padding: 0.5rem 1rem !important;
  }
}

.navbar,
.navbar-brand {
  padding: 0;
}

.red {
  color: $red;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 145px);
  flex: 1;
  padding-top: 2.15rem;
}

.main-content.sidebar {
  padding-top: 0;
}

.modal-w {
  max-width: 700px;
}

.modal-xw {
  max-width: 1024px;
}

.sidebar-nav {
  background-color: $light-gray;
  padding-top: 58px !important;
  min-height: calc(100vh - 144px);

  .inner:first-child {
    border-top: solid rgba(0, 0, 0, 0.125) 1px;
  }

  h6,
  .nav-inner {
    border-bottom: solid rgba(0, 0, 0, 0.125) 1px;
  }

  h6:hover { cursor: pointer; }

  .nav-inner { background-color: #f9f9f9; }
}

.table-responsive-sm {
  td {
    padding: 0;
  }
}

@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1340px;
  }
}

@media (min-width: 1600px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1540px;
  }
}

@media (min-width: 1800px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1740px;
  }
}

@media (min-width: 2000px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1940px;
  }
}
